/**/*.pyc
.idea/*
src/MNIST_data/
src/checkpoints/vae/*/model.ckpt-*
src/checkpoints/mmd/*/model.ckpt-*
src/checkpoints/classifier/*/model.ckpt-*
!src/checkpoitns/latent_gan/model.ckpt-110.*
tmp/
archive/